:root { 
    --stars-color: #FBE159;
    --word-color: #000000;
    --high-color: #0085FF;
    --destaque-eleven-color: #e40002;
}   

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth !important;
}

.navbar-dark .navbar-toggler-icon {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
    background-image: url(../img/menu-hamburguer.png);
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.nav-link:hover{
    color: #FFBD59;
}


.detail { 
    color: var(--word-color);
    padding-top: 20px;
}

.titleDetails h1 { 
    font-weight: 900;
    margin-bottom: 0;
}

.stars { 
    color: var(--stars-color);
}

.textDetails p { 
    text-align: justify;
    padding-top: 12px;
}

.namesDetails { 
    width: 95%; 
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.names { 
    width: 200px;
}

.names p { 
    color: var(--high-color);
    text-align: justify;
}


.trailerDetails iframe { 
    width: 100%; 
    height: 13.5em;
}

.favoriteDetails { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.5em;
}

.favoriteText h3{ 
   padding-bottom: 20px;
}

.favoriteCard { 
    width: 324px; 
    height: 347px;
}

.favoriteCard img { 
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.favoriteCard p { 
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
}

.favoriteCard .emojis i{ 
    font-size: 2.5em;
    color:#0000002c;
}

.favoriteCard .emojis .fa-heart:hover{
    color:red;
} 

.favoriteCard .emojis .fa-face-smile:hover{ 
    color: #FFBD59;
}
  

.fraseDetails { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fraseDetails h2 { 
    font-size: 1.8em;
    font-style: italic;
    font-weight: 500;
    text-align: center;
}

.fraseDetails span { 
    color:#f5aa3a ;
}
footer{
    background-color: #171717;
}

.aluno h3{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
}

.aluno p{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color:  rgba(255, 255, 255, 0.75);
}

.aluno i{
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

.aluno i:hover{
    color: #FFBD59;
    transition: all 0.5s;
    transform: scale(1.2)
}

.footer-end{
    color:rgba(255, 255, 255, 0.5);
    font-size: 15px;    
}
/*modal*/
.btn-primary{
    background: #F19201;
    border-radius: 12px;
    border-color: #F19201;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
    --bs-btn-hover-color: #F19201;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-color: #F19201;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
}
.modal-header{
background-color:#2C0F4F ;
}

.btn-close{
    background-color: #F19201;

}



@media(min-width: 800px){ 
    .banner img { 
      width: 100%;
      height: 35em;
      object-fit: cover;
    }
    .trailerDetails iframe { 
        width: 100%; 
        height: 35em;
    }

    .namesDetails { 
        display: inline-flex;
        justify-content: left;
    }

    .names p { 
        width: 450px;
    }
    .favoriteAll{ 
        display: flex; 
        flex-direction: row;
    }

    .fraseDetails br{ 
        display: none;
    }
    
}

