*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}
/* HEADER */
.navbar-dark .navbar-toggler-icon {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
    background-image: url(../img/menu-hamburguer.png);
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.nav-link:hover{
    color: #FFBD59;
}
/* FIM DO HEADER */

.link-banner{
    text-decoration:none;
    color: #000000;
}

.link-banner:hover{
    text-decoration:none;
    color: black;
}
.banner{
    background-image: url("../img/banner2.png");
    background-attachment: fixed;
    background-size: cover;
}

.banner h2{
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 77px;
    color: #FFBD59;
}

.banner p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}



.card:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.cards-back{
    background-image: url("../img/banner-itens.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2C0F4F;
}

.title-cards{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.slogan-cards{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 50%;
}

.card-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#000000;
}

.card-text{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}

.btn-primary{
    background: #F19201;
    border-radius: 12px;
    border-color: #F19201;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
    --bs-btn-hover-color: #F19201;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-color: #F19201;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
}

.img-card{
    width: 100%;
    height: 170px;
    background-size: cover;
    border-radius: 0.375rem;
}



footer{
    background-color: #171717;
}

.aluno h3{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
}

.aluno p{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color:  rgba(255, 255, 255, 0.75);
}

.aluno i{
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

.aluno i:hover{
    color: #FFBD59;
    transition: all 0.5s;
    transform: scale(1.2)
}

.footer-end{
    color:rgba(255, 255, 255, 0.5);
    font-size: 15px;    
    
}

.modal-header{
    background-color: #2C0F4F;
}

.modal-content{
    background-color: #ffffff;
    border: #F19201;
}

.btn-close{
    color:#F19201;
    background-color: #F19201;
}

@media(max-width: 768px) {
    header .ms-5, header .me-5{
        margin: 0 !important;
    }

    .banner h2{
        font-size: 28px;
        line-height: 30px;
    }

    .banner p{
        font-size: 16px;
        line-height: 20px;
    }

    .title-cards{
        font-size: 28px;
        line-height: 30px;
    }

    
}

@media(min-width:768px){
    .card-text{
        height: 190px;
    }

    .card-title{
        height: 56px;
    }

    .banner h2{
        font-size: 50px;
        line-height: 60px;
        width: 100%;
    }

    .banner p{
        font-size: 20px;
        line-height: 25px;
    }
    header .ms-5, header .me-5{
        margin: 0 !important;
    }


    
}

@media(min-width:992px){
    .card-text{
        height: 120px;
    }

    .card-title{
        height: auto;
    }
    header .ms-5, header .me-5{
        margin: 0 !important;
    }

}

